.flex-item {
  background: white;
  padding: 2px;
  width: 250px;
  height: 300px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  border: 0.5ch;
  border-radius: 4ch;
  border-color: solid black;
  border-style: solid;
}
.countrytitle {
  text-align: center;
}
.countrycapital {
  text-align: center;
}
.countryflag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:0     * flex-direction: row;
     * flex-wrap: wrap;
     */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  text-align: center;
  color: rgb(86, 83, 83);
  font-size: 500%;
}

.searchbar {
  text-align: center;
  padding: 6px;
  border: black solid;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
}

.page {
  text-align: center;
}

.navBar {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
